


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SMYO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items/addNewItem">Add new item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/outfits/createOutfit">Create Outfit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/outfits/seeOutfits">Show Outfits</a>
        </li>
       
      </ul>


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome <%=name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </div>

      
     
    </div>
  </nav>












<h1>Your outfits</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">

            <%outfitList.forEach(function(outfit, index){%>
                <div>
                <button class="btn btn-info" data-toggle="collapse" data-target="#div<%= index %>"><%= outfit.outfitName%></button>
                    <div class="collapse" id="div<%= index %>">
                        <div class="card card-body">
                            <%itemList.forEach(function(item, index){%>
                                <%if(item._id == outfit.hatID){ %>
                                    <p>Hat: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.scarfID){ %>
                                    <p>Scarf: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.tshirtID){ %>
                                    <p>T-shirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shirtID){ %>
                                    <p>Shirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.trousersID){ %>
                                    <p>Trousers: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.dressID){ %>
                                    <p>Dress: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shortsID){ %>
                                    <p>Shorts: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.skirtID){ %>
                                    <p>Skirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shoesID){ %>
                                    <p>Shoes: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                            <%})%>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
        <a href="javascript:history.back()" class="btn btn-danger btn-block">Go Back</a>
    </div>
    
</div>

