<h1>Your outfits</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">

            <%outfitList.forEach(function(outfit, index){%>
                <div>
                <button class="btn btn-info" data-toggle="collapse" data-target="#div<%= index %>"><%= outfit.outfitName%></button>
                    <div class="collapse" id="div<%= index %>">
                        <div class="card card-body">
                            <%itemList.forEach(function(item, index){%>
                                <%if(item._id == outfit.hatID){ %>
                                    <p>Hat: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.scarfID){ %>
                                    <p>Scarf: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.tshirtID){ %>
                                    <p>T-shirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shirtID){ %>
                                    <p>Shirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.trousersID){ %>
                                    <p>Trousers: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.dressID){ %>
                                    <p>Dress: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shortsID){ %>
                                    <p>Shorts: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.skirtID){ %>
                                    <p>Skirt: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                                <%if(item._id == outfit.shoesID){ %>
                                    <p>Shoes: <%= item.brand %>, <%= item.colour %></p>
                                <%}%>
                            <%})%>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
</div>